body {
    padding: 0;
    margin: 0;
    line-height: 16px;
}

#map {
    height: calc(100vh);
}


.popupfont {
    font-family: Gill Sans,Arial, serif;
}

.btnsize {
    height: 25px;
    width: 90%;
    line-height: 0px;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    
}



.btnpos {
    text-align:center; 
    padding-top:5px;
}

.btn-primary, .btn-primary:focus {
  color: #ffffff;
  background-color: #9354BC;
  border-color: #9354BC;
  border-width: 2px;  
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #9354BC;
    border-color: #454444;
    border-width: 2px;
}

.btn-danger, .btn-danger:focus {
    color: #000000;
    background-color: #FED766;
    border-color: #FED766;
    border-width: 2px;    
}

.btn-danger:hover {
    color: #000000;
    background-color: #FED766;
    border-color: #454444;
    border-width: 2px;}

.btn-secondary, .btn-secondary:focus {
    color: #ffffff;
    background-color: #157AA5;
    border-color: #157AA5;
    border-width: 2px;    
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #157AA5;
    border-color: #454444;
    border-width: 2px;
}

.btn-success, .btn-success:focus {
    color: #ffffff;
    background-color: #66D13C;
    border-color: #66D13C;
    border-width: 2px;    
}

.btn-success:hover {
    color: #ffffff;
    background-color: #66D13C;
    border-color: #454444;
    border-width: 2px;
}

.btn-warning, .btn-warning:focus {
    color: #ffffff;
    background-color: #EA1943;
    border-color: #EA1943;
    border-width: 2px;    
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #EA1943;
    border-color: #454444;
    border-width: 2px;
}